@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);

body {
    background-color: #E2EAFF;
    margin: 0 0 0 0;
}
#banner{
    width: 100%;
    background-color:  #2332FF;
    height: 80px;
    border-radius: 2px;
    position:  relative;
    
    
}
#banner img {
    margin: 10px 10px 10px 10px;
    width: auto;
    height: 60px;
}
#banner h1 {
    position:  absolute;
    display: inline-block;
    width: 75%;
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    margin: 20px auto 20px 20px;
    color: white;
}
nav {
    width: 100%;
    height: auto;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    background-color: #83A5E8;
    
    border-radius: 4px;
}

  nav ul {
    list-style-type: none;
    margin: 0 0 0 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }

    nav ul  li {
        display: inline-block;
        margin: 0 5px 0 5px;
        color: white;
        padding: 0 2px 0 2px;
        
    }
    nav ul li a:link, a:visited { 
    color: white;
    text-decoration: none;
    
}
     nav ul li:hover{
    
    background-color: #4015E8;
    border-color: #4015E8;
    border-radius: 2px;
    font-weight: 600;
    
    
}


section {
    margin: 15px 5% 15px 5%;
    width: 90%;
    
    
}


article{
    
    display: block;
    font-family: 'Archivo Narrow', Arial, serif;
    background-color: white;
    border-radius: 4px;
    box-shadow:-8px -4px 5px 0px rgba(48, 50, 50, 0.44);
    padding: 10px 5px 10px 5px;
    margin: 20px 0 20px 0; 
    
}
article header{
    font-weight: 700;
    font-size: 20px;
}
footer{
    height: 20px;
    padding: 5px 0 5px 0;
    width: 100%;
    background-color: #7790CC;
    font-size: 10px;
    text-align: center;
    color: white;
    font-family: 'Raleway',Arial,serif;
    
}
.num{
    list-style-type: decimal;
}